{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-flow",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "framework": "./src/framework",
        "app": "./src/app"
      }
    }],
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-async-do-expressions"],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-do-expressions"],
    ["@babel/plugin-proposal-export-default-from"],
    ["@babel/plugin-proposal-throw-expressions"]
  ]
}
